# Git
.git
.gitignore
.github

# Rust
target/
**/*.rs.bk
Cargo.lock

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Misc
README.md
LICENSE
*.log
data/

# Logs and data
*.pid
keystonelight.log
keystonelight.pid

# Tests
/tests